<footer class="footer">
    <mat-toolbar class="footer" color="primary">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    
        <button mat-button routerLink="/his" routerLinkActive="active-menu-item">
          <div class="toolbar-icon">
            <mat-icon>collections</mat-icon>
          </div>
          <div class="toolbar-icon-text">
            <span>ประวัติ</span>
          </div>
        </button>

        <button mat-button routerLink="/his/lab-view" routerLinkActive="active-menu-item">
          <div class="toolbar-icon">
          <mat-icon aria-hidden="false" aria-label="Example home icon">science</mat-icon>
          </div>
          <div class="toolbar-icon-text">
            <span>ผล LAB</span>
          </div>
        </button>
    
        <button mat-button (click)="onToggleSidenav()">
          <div class="toolbar-icon">
            <mat-icon>more_horiz</mat-icon>
          </div>
          <div class="toolbar-icon-text">
            <span>อื่นๆ</span>
          </div>
        </button>
    
      </div>
    </mat-toolbar>
    </footer>