<app-content>
    
        <mat-toolbar class="mat-elevation-z4" color="primary">
            <h1>จองรถไปราชการ</h1>
        </mat-toolbar>
       
    
        <mat-card>
            <mat-card-content>
            <form [formGroup]="myForm">
                <mat-form-field appearance="legacy">
                    <mat-label>จำนวนผู้โดยสาร</mat-label>
                    <input matInput type="number" placeholder="ระบุจำนวน" formControlName="gvmcar_rsv_num_of_ple">
                    <mat-icon matSuffix>groups</mat-icon>                
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>สถานที่เดินทาง</mat-label>
                    <input matInput placeholder="บอกถึงลักษณะพิกัด" formControlName="gvmcar_rsv_trip_job">
                    <mat-icon matSuffix type="text">pin_drop</mat-icon>                
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>รายละเอียด</mat-label>
                    <textarea matInput placeholder="รายละเอียดหัวเรื่อง" rows="3" formControlName="gvmcar_rsv_trip_detail"></textarea>
                    <mat-icon matSuffix>description </mat-icon>                
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>วันที่ เริ่ม-สิ้นสุด</mat-label>
                    <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
                      <input matStartDate placeholder="Start date" readonly formControlName="gvmcar_rsv_start_date">
                      <input matEndDate placeholder="End date" readonly formControlName="gvmcar_rsv_end_date">
                    </mat-date-range-input>                
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                
            </form>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="gvmSave()">บันทึก</button>
              <button mat-button color="warn">ยกเลิก</button>
            </mat-card-actions>
        </mat-card>
        <br>
        
            <h1><mat-icon matSuffix>description </mat-icon> รายการจอง</h1>
        
            <mat-accordion>
                <mat-expansion-panel *ngFor="let item of gvmCarRsv"
                (opened)="panelOpenState = true" 
                (closed)="panelOpenState = false">                
                    <mat-expansion-panel-header >
                        <mat-panel-title [ngClass]="item.user_register_emp_driving ? 'green' : 'red'">                            
                            {{item.gvmcar_rsv_trip_job}}                            
                        </mat-panel-title>
                        <mat-panel-description>
                            {{dateToThai(item.gvmcar_rsv_start_date)}} - 
                            {{dateToThai(item.gvmcar_rsv_end_date)}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-card-subtitle>
                        {{item.gvmcar_rsv_trip_detail}}
                    </mat-card-subtitle>                    
                    <mat-divider></mat-divider>
                    <button *ngIf="item.user_register_emp_driving" mat-button color="primary"
                    [routerLink]="['/gvmcar/drive-profile']" [state]="item">
                     <mat-icon>local_taxi</mat-icon> {{item.fullname}}
                    </button>
                    <button *ngIf="item.user_register_emp_driving" mat-button color="primary"><mat-icon>list_alt</mat-icon> รายละเอียด</button>
                </mat-expansion-panel>
                
            </mat-accordion>    

            
</app-content>
