  .mat-form-field {
    width: 100%;
  }
  .example-form-fields {
    display: flex;
    align-items: flex-start;
  }
  .example-form-fields mat-form-field{
    margin: 5px;
  }
  table tr{
    border: 1px solid #D5D8DC;
  }

  