mat-dialog-content {
  height: 100%;
}
.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling :touch
}
h1, p {
    padding: 0;
    margin: 0;
}
.group-header { font-size: 20px } 
.group-header > span { font-size: 10px }

@media print {
  .no-print {
    display: none !important;
  }

  mat-dialog-content {
    overflow: visible !important;
    height: auto !important;
    max-height: none !important;     
  }
  .print-wrapper {
    width: 210mm; /* ความกว้าง A4 */
    min-height: 297mm; /* ความสูง A4 */
    margin: auto;    
    background: #fff;
  }

  /* บังคับให้แต่ละ group ขึ้นหน้าใหม่ */
  .result-section {
    page-break-before: always; /* สำหรับ browser เก่า */
    break-before: page; /* สำหรับ browser ใหม่ */
  }
}
