@media print {
  .no-print {
    display: none !important;
  }

  mat-dialog-content {
    overflow: visible !important;
    height: auto !important;
    max-height: none !important;
  }

  .print-wrapper {
    width: 210mm; /* ความกว้าง A4 */
    min-height: 297mm; /* ความสูง A4 */
    margin: auto;    
    background: #fff;
  }

  /* บังคับให้แต่ละ group ขึ้นหน้าใหม่ */
  .result-section {
    page-break-before: always; /* สำหรับ browser เก่า */
    break-before: page; /* สำหรับ browser ใหม่ */
  }
}
