<app-content-his>

<div class="full-screen">
  <mat-toolbar class="mat-elevation-z4" color="primary">
    <h1>ประวัติทางห้องปฏิบัติการ รพร.เดชอุดม</h1>
    <form class="example-form" [formGroup]="Fsearch">
      <mat-form-field class="example-full-width">
        <mat-label>พิมพ์ค้นหา HN , CID</mat-label>
        <input matInput formControlName="keyword" [(ngModel)]="value" appEnterKey (enterKey)="VisitList($event)"
          type="text">
        <mat-icon matSuffix (click)="VisitList($event)">search</mat-icon>
      </mat-form-field>
    </form>
  </mat-toolbar>
  <mat-progress-bar mode="determinate"></mat-progress-bar>

  <mat-card>
    <mat-card-content>
      <div class="container">
        <div class="layout-left">
          <!-- Items Visit List -->
          <div>
            <mat-icon>sync_alt</mat-icon>
            Visit List {{DataVisitList.length}}
          </div>
          <div class="item-left">
            <mat-list role="list">
              <mat-list-item *ngFor="let item of DataVisitList; let i = index" role="listitem"
                (click)="LabHead($event, item, i )" [class.ActiveList]="selectedIndex === i">
                {{item.vstdate | thaiDate:'short'}} &nbsp;<small>{{item.vsttime}}</small>
                <mat-icon *ngIf="item.status === 'Y'" color="accent" matListItemIcon>science</mat-icon>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </div>
        </div>

        <!-- Data List Tables -->
        <div class="item-content">
          <h2>ผลตรวจทางห้องปฏิบัติการ </h2>
          <div class="item-label-bar">            
            {{fullname}}              
            <mat-icon *ngIf="DataVisitList.length > 0" 
              (click)="PrintPerview()"
              color="accent" class="icon-32px">remove_red_eye
            </mat-icon>
              
          </div>
          <!-- #Taps group For LAB -->
          <div class="lab-results-container">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChanged($event) ">
              <!-- #Tabs -->
              <mat-tab *ngFor="let item of dataLabHead; let i = index" label="{{item.form_name}}">

                <!-- #table data -->
                <mat-table [dataSource]="item.lab_items" class="mat-elevation-z8">
                  <!-- ชื่อการตรวจ -->
                  <ng-container matColumnDef="lab_items_name_ref">
                    <mat-header-cell *matHeaderCellDef> การตรวจ </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.lab_items_name_ref || ""}} </mat-cell>
                  </ng-container>

                  <!-- ผลการตรวจ -->
                  <ng-container matColumnDef="lab_order_result">
                    <mat-header-cell *matHeaderCellDef> ผลตรวจ </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                      <span [class.abnormal]="isAbnormalResult(item)">
                        {{item.lab_order_result || ""}}
                      </span>
                    </mat-cell>
                  </ng-container>

                  <!-- ค่าปกติ -->
                  <ng-container matColumnDef="lab_items_normal_value_ref">
                    <mat-header-cell *matHeaderCellDef> ค่าปกติ </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.lab_items_normal_value_ref || ""}} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </mat-tab>

            </mat-tab-group>

          </div>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

</app-content-his>