.example-card {
    max-width: 400px;
  }
  
  .example-header-image {    
    width: 100px;
    height: 100px;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
  }