<footer class="footer">
    <mat-toolbar class="footer" color="primary">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    
        <button mat-button routerLink="/home" routerLinkActive="active-menu-item">
          <div class="toolbar-icon">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          </div>
          <div class="toolbar-icon-text">
            <span>หน้าหลัก</span>
          </div>
        </button>
    
        <button mat-button routerLink="/gvmcar" routerLinkActive="active-menu-item">
          <div class="toolbar-icon">
            <mat-icon>local_taxi</mat-icon>
          </div>
          <div class="toolbar-icon-text">
            <span>จองรถ</span>
          </div>
        </button>
    
        <button mat-button routerLink="/messages" routerLinkActive="active-menu-item">
          <div class="toolbar-icon">
            <mat-icon>meeting_room</mat-icon>
          </div>
          <div class="toolbar-icon-text">
            <span>ห้องประชุม</span>
          </div>
        </button>
    
        <button mat-button (click)="onToggleSidenav()">
          <div class="toolbar-icon">
            <mat-icon>more_horiz</mat-icon>
          </div>
          <div class="toolbar-icon-text">
            <span>อื่นๆ</span>
          </div>
        </button>
    
      </div>
    </mat-toolbar>
    </footer>