/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card, mat-expansion-panel{
    margin: 8px !important;
}
.mat-expansion-panel{
    margin-right: 8px !important;
    margin-left: 8px !important;
}


  